body {
  font-family: 'Poppins', sans-serif;
  background-color: #fdf2f8;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #255e75;
}
header {
  background-color: #487f8d;
  padding: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  box-shadow: 0 4px 8px rgba(0, 136, 146, 0.2);
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: #bac0c2;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: linear-gradient(to right, #3fc1c5, #ace3fd);
  color: white;
  text-align: center;
  flex-direction: column;
  padding: 20px;
}
.hero-content {
  max-width: 400px;
}
.profile-container {
  display: flex;
  align-items: center;
  gap: 20px; /* Jarak antara foto dan teks */
}

.profile-pic {
  width: 150px; /* Sesuaikan ukuran foto profil */
  height: 170px;
  border-radius: 50%; /* Membuat foto bulat */
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  gap: 10px; /* Jarak antar ikon */
}

.icon {
  width: 30px; /* Ukuran ikon */
  height: 30px;
}

